! Command: show running-config
! device: sw-1 (vEOS, EOS-4.22.0F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname sw-1
dns domain bdedf36a-2122-4846-9b80-1b346a529b8d
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 $6$hNsqChUNROtJUBj2$R7O0pfa8zEfL6STq.PRR187dFSirDblfMAPpSmPwSA19wCJvRD5A34dWJWwsKbHmxe9kah2WVXBHnrBJ./INn/
!
interface Management1
   mtu 1450
   ip address dhcp
   dhcp client accept default-route
!
no ip routing
!
management api http-commands
   protocol http
   no shutdown
!
end

